{% extends "base.html" %}

{% block css %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/form.css') }}">
{% endblock %}

{% block content%}
	<h1>Register User</h1>
	<form action="{{ url_for('users.register') }}" method="post">
	  <div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Name</label>
	    <input type="text" class="form-control" name="name" placeholder="Your name">
	    <!-- <div id="emailHelp" class="form-text">Please set a correct url</div> -->
	  </div>
	  <div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Surname</label>
	    <input type="text" class="form-control" name="surname">
	    <!-- <div id="emailHelp" class="form-text">Please set a correct url</div> -->
	  </div>
	  <div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Email</label>
	    <input type="email" class="form-control" name="email" placeholder="name@example.com">
	    <!-- <div id="emailHelp" class="form-text">Please set a correct url</div> -->
	  </div>
	  <div class="mb-3">
	    <label for="exampleInputPassword1" class="form-label">Password</label>
	    <input type="password" class="form-control" name="password" placeholder="long password">
	    <div id="emailHelp" class="form-text">Under which price would like to be notified</div>
	    {% if msg %}
	     <p>{{ msg}}</p>
	    {% endif%}
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}